@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

/*Globales*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}


/*menu*/


/* CORE STYLES */

:root {
    --primary-color: #3f732a00;
    --overlay-color: #3f732ab6;
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MENU STYLES */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #3f732a;
    /*rayas del menu*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    /*letras del menu*/
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


/*Hero*/

.hero {
    width: 100%;
    height: 70vh;
    background: url("../images/hoja\ playa.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.h2-sub {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #3f732a;
    font-weight: 600;
    line-height: .4;
}

.tamañoimg img {
    width: 180px;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #3f732a;
    margin: 0 1.6rem;
}

.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #3f732a;
    /**/
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
}

.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: #3f732a;
}

.global {
    text-align: center;
    margin-top: 3.9rem;
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: #3f732a;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.justificacion {
    justify-content: space-evenly;
}


/*menu*/

.taste {
    background: url("../images/manos.jpg") center no-repeat;
    background-size: cover;
}

.bt {
    min-height: 65vh;
    display: flex;
    align-items: center;
}


/*platillos*/

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

.pb {
    background: url("../images/Hojas.jpg") center no-repeat;
    background-size: cover;
}


/*footer*/

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #3f732a;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 2px solid #3f732a;
    /*linea entre informacion*/
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    /*letras de informacion de final*/
}

.content-foo p {
    color: #ccc;
    font-size: 15px;
    /*letras de informacion de final*/
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (min-width: 900px) {
    section {
        padding: 7.9rem;
    }
    .menu-toggle {
        display: none;
    }
    .nav {
        justify-content: space-between;
    }
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item {
        margin: 0 2.4rem;
    }
    .nav-item:last-child {
        margin-right: 0;
    }
    .nav-link {
        font-size: 1.3rem;
    }
    .active {
        position: relative;
    }
    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }
    .h2-sub {
        font-size: 3rem;
    }
    .fil {
        font-size: 3rem;
    }
    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }
    .res-info {
        display: flex;
        align-items: center;
    }
    .res-info>div {
        flex: 1;
    }
    .pad-rig {
        padding-right: 7rem;
    }
    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }
    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }
    .footer-div {
        display: flex;
        justify-content: space-between;
    }
    .social-media,
    .news-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }
    .news-btn {
        margin-left: 7.5rem;
    }
}