/*inicio*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;
}

.intro {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    transition: 1s;
}


/*.intro img {
    top: 100px;
    position: absolute;
}*/


/*imagen*/

.intro p {
    color: #3f732a;
    font-size: 2rem;
    margin-top: 10px;
}

.logo {
    font-size: 2.5rem;
    color: #000000;
}

.logo-parts {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 50px;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.content {
    width: 100%;
    padding: 50px;
    font-size: 2rem;
}


/*pagina web*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #000000;
    /*letras de principales*/
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/* Header */

header {
    width: 100%;
    height: 700px;
    background: #52c234;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(104, 100%, 5%, 0.603)d0, hsla(107, 58%, 48%, 0.603)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(104, 100%, 5%, 0.603), hsla(107, 58%, 48%, 0.603)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


/*menu*/


/*menu*/


/* CORE STYLES */

:root {
    --primary-color: #3f732a00;
    --overlay-color: #3f732ab6;
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MENU STYLES */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #3f732a;
    /*rayas del menu*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    /*letras del menu*/
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


/*nav {
    text-align: right;
    padding: 30px 50px 0 0;
}*/


/*
nav>a {
    color: rgb(255, 255, 255);
    
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
}*/


/*
nav>a:hover {
    text-decoration: underline;
}*/

header .textos-header {
    display: flex;
    height: 450px;
    /*posicion de las letras principales*/
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* About us */

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 50%;
}

.sobre-nosotros .contenido-textos {
    width: 50%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #3f732a;
    color: #fff;
    /*numeros dentro de los circulos*/
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    font-size: 15px;
}

.contenido-textos p {
    font-size: 15px;
    padding: 0px 0px 30px 15px;
    font-weight: 450;
    text-align: justify;
}


/* Galeria */

.portafolio {
    background: #52c234;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(104, 100%, 5%, 0.603)d0, hsla(107, 58%, 48%, 0.603)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(104, 100%, 5%, 0.603), hsla(107, 58%, 48%, 0.603)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /*fondo de portafolio #29963b5b*/
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(2, 2, 2, 0.555);
    /*bordes de los cuadro*/
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(99, 57%, 45%, 0.644);
    /*cuadro seleccionador*/
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: rgb(255, 255, 255);
    /*letras seleccionador*/
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}


/* Clientes */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #3f732a;
    /*cuadros de equipo*/
    display: flex;
    width: 30%;
    /*sepador de cuadros*/
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.808);
    /*borde de los cuadros*/
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgb(3, 94, 0);
    /*borde de los circulos*/
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    /*letras*/
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}


/*  Our team */

.about-services {
    background: #52c234;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(104, 100%, 5%, 0.603)d0, hsla(107, 58%, 48%, 0.603)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(104, 100%, 5%, 0.603), hsla(107, 58%, 48%, 0.603)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /*fondo nuestro servicios*/
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 50%;
}

.servicio-ind h3 {
    margin: 10px 0;
    font-size: 17px;
    color: #fff;
    /*letras de nuestro servicios*/
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
    font-size: 15px;
    color: #fff;
}


/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #3f732a;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 2px solid #3f732a;
    /*linea entre informacion*/
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    /*letras de informacion de final*/
}

.content-foo p {
    color: #ccc;
    font-size: 15px;
    /*letras de informacion de final*/
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos {
        width: 90%;
    }
    .imagen-about-us {
        width: 90%;
    }
    /* Galeria */
    .imagen-port {
        width: 44%;
    }
    /* Clientes */
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card {
        width: 90%;
    }
    .cards .card {
        /*separador de 3 cuadro de fotos*/
        margin-bottom: 15px;
        margin-top: 15px;
    }
    /* servicios */
    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind {
        width: 100%;
        text-align: center;
    }
    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }
    .servicio-ind img {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav>a {
        margin-right: 5px;
    }
    .textos-header h1 {
        font-size: 35px;
    }
    .textos-header h2 {
        font-size: 20px;
    }
    /* ABOUT US */
    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }
    .sobre-nosotros .contenido-textos {
        width: 95%;
    }
    /* Galeria */
    .imagen-port {
        width: 95%;
    }
    /* Clients */
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img {
        width: 90px;
        height: 90px;
    }
    /* Footer */
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }
    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4 {
        border: none;
    }
    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final {
        font-size: 20px;
    }
}

.text-white {
    color: #fafafa;
}

.text-black {
    color: #0a0a0a;
}

.text-green {
    color: #3f732a;
}

.logo-tamaño {
    width: 300px;
    margin: 20px 0px -30px;
}

.tamaño-menu {
    font-size: 25px;
}